/* Dashboard Component Styles */

.dashboard {
  text-align: left;
  margin-left: 20px;
  border-width: 5px;
  border-color:#e8aa24;
  width: 80%;
}

.top-heroes {
  font-size: 30px;
  font-weight: 500;

}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.grid-pad {
  padding-top: 20px;
}

.col-1-4 {
  flex-basis: 24%;
  margin: 0.5%;
  text-align: center;
  text-decoration: none;
}

.module {
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #ff5724;
  transition: background-color 0.3s;
}

.module:hover {
  background-color: #e8aa24;
}

.module h4 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 600px) {
  .col-1-4 {
    flex-basis: 48%;
    margin: 1%;
  }
}

@media (max-width: 300px) {
  .col-1-4 {
    flex-basis: 98%;
    margin: 1%;
  }
}


.hero-link {
  text-decoration: none;
  color: inherit;
}

/*
#D0fef5
#e4ff1a
#e8aa14
#ff5714
#3c1518

*/