.hero-list {
  display: flex;
  width: 50%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-direction: column;

}

.hero-list-item {
  background-color: #f0f0f0;
  border: 1px solid #d4d4d4;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 8px 80px;
  display: flex;
  align-items: center;
  transition: box-shadow 0.3s ease;
}

.hero-list-item:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

}

.badge {
  background-color: #1976d2;
  color: white;
  padding: 8px 12px;
  margin-right: 20px;
  border-radius: 4px;
  font-weight: bold;
}

.hero-name {
  flex-grow: 1;
}

.hero-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-top: 10px;
  color: inherit;

  width: 100%;

}


.hero-link:hover,
.hero-link:focus {
  text-decoration: none;
  background-color: #e8e8e8;
}

.favorite-button {
  background-color: #4CAF50;

  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.favorite-button:hover {
  background-color: #45a049;
}

.hero-item {
  position: relative;
}

.favorite-button {
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;
}

.hero-item:hover .favorite-button {
  display: inline-block;
}

.hero-detail:hover .favorite-button {
  display: inline-block;
}