/* HeroList.css */

.hero-list {
  list-style: none;
  padding: 0;
}

.hero-item {
  background-color: var(--color-light-blue);
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
    cursor: pointer;

}

.hero-link {
  text-decoration: none;
  color: var(--color-dark-brown);
  display: flex;
  align-items: center;
  gap: 10px;
}

.badge {
  background-color: var(--color-orange);
  border-radius: 50%;
  padding: 5px 10px;
  color: white;
}

.hero-name {
  font-weight: bold;
}

.favorite-button {
  background-color: var(--color-light-yellow);
  color: var(--color-dark-brown);
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.3s, transform 0.2s;
}

.favorite-button:hover {
  background-color: var(--color-dark-orange);
  transform: scale(1.05);
}


.hero-item:hover .favorite-button {
  display: block;
}