
nav {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

nav a {
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  background-color: #007bff;
  /* Bootstrap primary color */
  margin: 0 5px;
}

nav a:not(.active) {
  background-color: #6c757d;
}

