:root {
  --color-light-blue: #D0FEF5;
  --color-light-yellow: #E4FF1A;
  --color-orange: #E8AA14;
  --color-dark-orange: #FF5714;
  --color-dark-brown: hsl(355, 48%, 16%);
  --color-glory-purple: #533a71;
  --text-color: #575757
}



@font-face {
  font-family: 'Coves';
  src: url('/fonts/coves-typeface\ 2/') format('otf'),
    url('/fonts/coves-typeface\ 2/') format('oft');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
    color: var(--text-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Coves', 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(45deg, var(--color-light-blue), var(--color-light-yellow));
  
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Coves",
monospace;
}